# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?

# Environment and local configs
.env
.env.test
.env.production
*.local

# Dependencies
node_modules/
jspm_packages/
bower_components
web_modules/

# Build and Cache
dist/
dist-ssr/
.next/
out/
.nuxt/
.cache/
.parcel-cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.vite/
.npm/
.eslintcache
*.tsbuildinfo
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Coverage and testing
lib-cov
coverage
*.lcov
.nyc_output
.vscode-test

# Task runners and build tools
.grunt
.lock-wscript
build/Release

# Misc
*.tgz
.yarn-integrity
.node_repl_history
.tern-port
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
